.section-header{
  text-align: center;
  margin-bottom: 35px;
  p{
    font-size: 14px;
    font-weight: 600;
    color: $dark-gray;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin: 0;
  }
  h3{
    font-size: 40px;
    font-weight: 500;
    color: $blue;
    text-transform: uppercase;
    margin: 0;
    font-family: $Oswald;
  }
}

//video-box
.video-box{
  display: block;
  width: 100%;
  position: relative;
  img{
    @include size(100%,100%);
    object-fit: cover;
  }
  .play-icon{
    @include size(100px,100px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    img{
      @include size(100%,100%);
      object-fit: cover;
    }
  }
}

//who-attending-section
.who-attending-section{
  .section-header{
    text-align: left;
    margin-top: 40px;
  }
  .content{
    padding-right: 50px;
    p{
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      color: #59566F;
    }
  }
  .card-icon-text{
    min-height: 158px;
  }
}

//faq-section
.faq-section{
  padding: 140px 0 80px 0;
  background-image: url("/assets/images/faq-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

//sponsor-section
.sponsor-section{
  padding-bottom: 52px;
  .sponsor-item{
    margin-bottom: 30px;
    text-align: center;
    p{
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: #9CA69C;
      margin-bottom: 30px;
    }
    .sponsor-icons{
      display: flex;
      align-items: center;
      justify-content: center;
      .sponsor-icon{
        .icon-big{
          height: 168px;
          margin: 0 10px;
        }
        .icon-md{
          height: 152px;
          margin: 0 10px;
        }
        .icon-sm{
          height: 70px;
          margin: 0 10px;
        }
      }
    }
  }
}

//footer-section
.footer-section{
  background-color: $blue;
  padding-top: 50px !important;
  position: relative;
  &:after{
    @include pseudo();
    background-image: url("/assets/images/footer-shape.png");
    background-repeat: no-repeat;
    background-size: contain;
    @include size(614px,467px);
    position: absolute;
    right: 0;
    top: -464px;
    z-index: -1;
  }
  .footer-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #E0E5EF;
    margin-bottom: 70px;
    padding-bottom: 30px;

    .footer-newsletter{
      h3{
        font-size: 24px;
        font-weight: 500;
        color: $white;
        font-family: $Oswald;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      .newsletter-box{
        span{
          font-weight: 700;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.3em;
          text-transform: uppercase;
          color: $white;
          display: block;
          margin-bottom: 12px;
        }

        .form-control{
          @include size(320px,48px);
          background-color: #E0E5EF;
          border-radius: 5px;
          margin-right: 15px;
          &:focus{
            box-shadow: none;
            outline: 0;
          }
        }
        .btn-submit{
          @include size(152px,48px);
          background: #F4F4FB;
          border-radius: 10px;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.03em;
          color: #123150;
        }
      }
    }

    .footer-logo{
      width: 275px;
      img{
        @include size(100%,100%);
        object-fit: cover;
      }
    }
  }
  .footer-center{
    .footer-links{
      display: flex;
      align-items: flex-start;

      .footer-link-item{
        margin-right: 70px;
        h3{
          font-size: 18px;
          font-weight: 500;
          color: $light-gray;
          margin: 0;
          height: 40px;
          text-transform: uppercase;
        }
        ul{
          li{
            display: block;
            a{
              display: block;
              color: $light-gray;
              font-size: 15px;
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
        &.no-title{
          ul{
            li{
              a{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    .footer-copy{
      p{
        font-size: 15px;
        font-weight: 600;
        color: $white;
      }
      ul{
        display: flex;
        align-items: center;
        border-bottom: 2px solid $white;
        padding: 0 0 10px 0;
        margin-bottom: 14px;
        li{
          a{
            display: block;
            margin-right: 10px;
            img{
              @include size(16px,16px);
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    margin-top: 150px;
    text-align: center;
    p{
      font-size: 15px;
      color: $white;
      margin: 0;
      a{
        color: $green;
      }
    }
  }
}
//Page Shape
.page-shape-dot{
  position: absolute;
  left: 0;
  top: 330px;
  z-index: -1;
  img{
    height: 1000px;
  }
}