//Fonts Stack
$openSans: 'Open Sans', sans-serif;
$Gilroy:   'Roboto', sans-serif;
$Oswald:   'Oswald', sans-serif;
//System Fonts
$base-font:    $Gilroy;
$heading-font: $Oswald;

//Colors
$white:       #ffffff;
$black:       #59566F;
$light-black: #59566F;
$blue:        #123150;
$gray:        #E0E5EF;
$dark-gray:   #9CA69C;
$light-gray:  #F4F4FB;
$green:       #00A139;

//System Color
$base-bg:     $white;
$base-color:  $black;
$link-color:  $blue;